.text {
    font-size: 4rem;
    font-weight: 900;
    color:blue;
    position: relative;
    cursor: pointer;
}
.slat-mask {
    position: absolute;
    inset: 0;
    display: flex;
}
.s {
    flex: 1;
    background: #111;
    transition:
      transform 0.5s cubic-bezier(0.180, 0.888, 0.4, 1.20);
    transform-origin: left;
}
.text:hover .s {
    transform: rotateY(90deg);
}
.s2 {
    transition-delay: 0.1s;
}
.s3 {
    transition-delay: 0.2s;
}
.s4 {
    transition-delay: 0.3s;
}